!!!
%html
  %head
    %title= content_for(:title) || "Graph Mem"
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    %meta{name: "mobile-web-app-capable", content: "yes"}
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{rel: "icon", href: "/icon.png", type: "image/png"}
    %link{rel: "icon", href: "/icon.svg", type: "image/svg+xml"}
    %link{rel: "apple-touch-icon", href: "/icon.png"}
    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = stylesheet_link_tag "graph", "data-turbo-track": "reload"
    = stylesheet_link_tag "dashboard", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %header.dashboard-topnav
      .dashboard-topnav__inner
        = link_to root_path, class: "dashboard-topnav__brand" do
          GraphMem
          %span.dashboard-topnav__version v#{GraphMem::VERSION}
        %nav.dashboard-topnav__links
          = link_to "Dashboard", root_path, class: "dashboard-topnav__link"
          = link_to "Search", search_path, class: "dashboard-topnav__link"
          = link_to "Graph", graph_path, class: "dashboard-topnav__link"
          = link_to "Maintenance", maintenance_path, class: "dashboard-topnav__link"
    - if flash[:notice].present?
      .dashboard-flash.dashboard-flash--notice= flash[:notice]
    - if flash[:alert].present?
      .dashboard-flash.dashboard-flash--alert= flash[:alert]
    %main.container.mx-auto.mt-8.px-5.flex
      = yield
